.About-page-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 150px;
}
.About-page-intro .About-page-left {
  height: 100%;
  padding: 1rem;
  max-width: 550px;
}

.About-page-intro .About-page-left h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: start;
}

.About-page-intro .About-page-left p {
  line-height: 1.5;
  margin-top: 25px;
  letter-spacing: 0.2px;
  color: rgb(99, 98, 98);
}

.About-page-left a button {
  margin: 25px 4px 0 4px;
  padding: 12px 30px;
}

.About-page-intro .About-page-right {
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .About-page-right .About-page-img-stack .About-page-img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 900px) {
  .About-page-intro .About-page-left {
    max-width: 450px;
  }

  .About-page-intro .About-page-left h2 {
    font-size: 28px;
  }

  .About-page-intro .About-page-left p {
    font-size: 15px;
  }

  .About-page-left a button {
    padding: 10px 23px;
    font-size: 12px;
  }
  .About-page-right .About-page-img-stack .About-page-img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 660px) {
  .About-page-intro .About-page-left {
    max-width: 450px;
  }

  .About-page-intro .About-page-left h2 {
    font-size: 25px;
  }

  .About-page-intro .About-page-left p {
    font-size: 13px;
  }

  .About-page-left a button {
    padding: 10px 20px;
    font-size: 11px;
  }
}
@media screen and (max-width: 740px) {
  .About-page-right .About-page-img-stack .About-page-img {
    margin-top: 15px;
    display: none;
  }
  .About-page-intro {
    justify-content: center;

    align-items: center;
  }
  .About-page-left a button {
    align-items: flex-start;
    display: flex;
  }

  .About-page-intro .About-page-left p {
    text-align: start;
  }
}
